@import url("https://fonts.googleapis.com/css?family=Righteous");
@import url("https://fonts.googleapis.com/css?family=Iceberg");
#chat {
  color: #fff;
  padding-left: 100px;
  background-color: #000;
  font-family: "Iceberg", cursive;
  font-size: 22px;
  overflow-y: scroll;
  height: 50vh;
  width: 90vw;
}

textarea {
  display: inline-block;
  /* position: absolute;
  left: 0; */
  width: 74%; /* -1% for borders */
  height: 150px;
  background-color: #000;
  color: #fff;
  font-family: "Righteous", cursive;
}

.send-msg-btn {
  /* position: absolute;
  margin: 0 !important; */
  width: 600px;
  height: 70px;
  font-size: 262x;
  z-index: 999;
  /* right: 0; */
  font-family: "Righteous", cursive;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  font-weight: 300;
}

.timeStamp {
  color: rgb(228, 21, 100) !important;
}

.author {
  color: #429ef4;
}

.inputs {
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
}

.home-screen-btn,
.home-screen-btn {
  width: 300px;
  height: 80px;
  color: #fff;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: inline-block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

#username {
  margin-right: 40px;
}

input:focus {
  outline: none;
}

body {
  overflow-x: hidden;
}

/* FIXED HEADER (DASHBOARD) */

#fixed-head {
  display: block;
  background: #000;
  z-index: 999;
  height: 60px;
}

#fixed-head h2 {
  margin: 0;
  position: absolute;
  top: 0;
  line-height: 60px;
  text-shadow: 0 1px 1px #ffeeb2;
}

#fixed-head .btn-login {
  margin: 0;
  position: absolute;
  height: 60px;
  top: 0;
  right: 240px;
}

#fixed-head .btn-signup {
  margin: 0;
  position: absolute;
  height: 60px;
  top: 0;
  right: 100px;
}

/* POPUPS */

.popup {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: content-box;
  width: 300px;
  height: 230px;
  text-align: center;
  z-index: 999;
}

.popup-icon {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.popup-button {
  display: inline-block !important;
  margin: 0 auto !important;
}
