.chat-room {
  border: 3px solid #fff;
  display: flex;
  justify-content: space-between;
  background-color: #070707;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 50px;
  padding: 0 50px;
}

.room-name {
  padding: 20px 30px;
  margin-bottom: 20px;
}

svg {
  height: 20px;
  width: 30px;
}

.enter-room {
  width: 100px;
  height: 50px;
}
